@import 'tailwindcss';

/* Project custom theme */
@theme {
    --color-table: #aed6dc;
    --color-cell-barrier: #00154f;
    --color-cell-route: #fdfe6a;
    --color-cell-expansion-0: #414974;
    --color-cell-expansion-60: #4884d6;
    --color-cell-expansion-80: #42ddcb;
    --color-cell-expansion-100: #41c9e0;
}
