$table-color: #aed6dc;
$cell-barrier: #00154f;
$cell-route: #FDFE6A;

$cell-expansion-0: #414974;
$cell-expansion-60: #4884d6;
$cell-expansion-80: #42ddcb;
$cell-expansion-100: #41c9e0;



$indent: 8px;

$indent-x1: $indent;
$indent-x2: 2 * $indent;
$indent-x3: 3 * $indent;
$indent-x4: 4 * $indent;
